<!DOCTYPE html>
<html>
<head>
    <title>
        Blob Retreiver
    </title>
</head>
<body>
    <form method="post" action=".">
        {% csrf_token %}
        {{form}}
        <input name = 'LOAD' type="submit" value="LOAD" />
    </form>
    {%  if blob_link %}
    <h3><a href="{{blob_link}}">Click Here</a></h3>
    {% else %}
    <h3> Sorry!  Wrong Credentials </h3>
    {% endif %}
</body>
</html>